/* 
Put your own css here, see example styling below
*/

.clearfix {
    clear: both;
}

.navbar {
    width: 100%;
    z-index: 1000;
    background-color: #eee;
    -webkit-box-shadow: 0px 0px 3px #999999;
    -moz-box-shadow: 0px 0px 3px #999999;
    box-shadow: 0px 0px 3px #999999;
    margin-bottom: 25px;
}

.navbar .navbar-collapse.collapsing,
.navbar .navbar-collapse.collapse.show {
    background-color: #eee;
    margin: 0 -16px;
    padding: 16px;
}

.navbar .navbar-brand .logo {
    height: 80px;
}

.navbar .nav-item {
    text-align: center;
}

.navbar .nav-item>.nav-link {
    color: #17462f;
    text-transform: uppercase;
    margin-right: 20px;
}


.navbar .nav-item>a.nav-link:hover {
    color: #59c130;
}

.navbar .nav-item>a.nav-link.active {
    color: #59c130;
}

.navbar .nav-item>a.nav-link.active::after {
    border-color: #59c130;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #333333;
}

body .spacer {
    margin-top: 50px;
}

body section {
    background-color: #fff;
    padding: 40px 0;
}

body section.colored {
    background-color: #eee;
}

body h1 {
    font-size: 3.2rem;
}

body h2 {
    font-size: 2.47rem;
}

body h3 {
    font-size: 1.74rem;
}

body h4 {
    font-size: 1rem;
}

body a {
    color: #59c130;
}

body a:hover {
    color: #17462f;
}

body .main {
    padding: 1px 0;
    margin: -4px;
}

body .main a {
    text-decoration: underline;
    color: #17462f;
}

body .main a:hover {
    color: #59c130;
    text-decoration: none;
}

footer {
    margin-top: 25px;
    padding: 35px 15px;
    background-color: #333;
    color: #ccc;
}

footer .copyright {
    padding: 20px 0;
}

footer .copyright a {
    margin-right: 20px;
}

footer a:hover {
    color: #fff;
}

footer .column-menu ul li {
    padding: 0.2rem 0;
    list-style-type: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.1rem;
}
